.corpo{
    background-color: aqua;
    text-align: center;
    color: black;
    border: 2cm;
    border-color: blue;
    border-style: double;
    border-radius: 15px;
}

p{font-size: 25px;
color: orangered;

}
li{font-size: 25px;
    color: rgb(255, 0, 128);
    }
   
    a{
        font-size: 25 px;
        color: chartreuse;
        
        }

        a{
            font-size: 30 px;
            color: chartreuse;
            
            }
